.large-font{
    font-size:xxx-large;
  }
  .top-20{
    position:relative;
    top:20vh;
  }
  ion-icon.active{
    fill:black;
    stroke:none;
  }
  ion-icon{
    fill:transparent;
    stroke:black;
    stroke-width:30;
   
  }
  
  
  /* @-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
  } */