{% extends 'handMade/home.html' %}

{% block body %}
<section class="section">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for card in product %}
      <div class="col"> 
        <div class="card h-100">
          <a href="{%url 'Product_details' id=card.id %}" class="opasity" >
            <img src={{card.imageLink}} class="card-img-top "  alt="">
          </a>
          <div class="card-body Hcard">
            <table class="mytable">
              <tr>
                <td>{{card.title}}</td>
                <td>
                  {% if request.user in card.favorite.all %}
                  <form action="{% url 'add_remove_favorite' id=card.id %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fa-solid fa-heart makefaiv"></i></button>
                  </form>
                  {% else %}
                  <form action="{% url 'add_remove_favorite' id=card.id %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fa-regular fa-heart makefaiv"></i></button>
                  </form>
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</section>

{% endblock %}


