

{% extends 'handMade/home.html' %}

{% block body %}

  {% for card in product %}
<div>
  <a href="{%url 'Product_details' id=card.id %}" class="btn btn-primary">
    <div class="card" style="width: 18rem;">
      <img src={{card.imageLink}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
      </div>
    </div>
  </a>
</div>
  
{% if request.user in card.favorite.all %}
  <a href="{% url 'add_remove_favorite' id=card.id %}">remove</a>
  {% else %}
  <a href="{% url 'add_remove_favorite' id=card.id %}">add</a>
{% endif %}

{% endfor %}

{% endblock %}



