

{% extends 'handMade/home.html' %}

{% block body %}
<div>
  {% for card in product %}

  <a href="{%url 'Productdetails' id=card.id %}" class="btn btn-primary">
    <div class="card" style="width: 18rem;">
      <img src="{{card.imageLink}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{card.title}}</p>
        <p class="card-text">{{card.description}}</p>
        <a href="{%url 'Productdetails' id=card.id %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </a>
  
  {% if request.user in card.favorite.all %}
  <a href="{% url 'add_to_favorite' pk=card.id %}"><i class="fas fa-heart myfav">Remove</i></a>
  {% else %}
  <a href="{% url 'add_to_favorite' pk=card.id %}"><i class="fa-solid fa-heart"></i></a>
  {% endif %}

{% endfor %}
</div>
{% endblock %}