
{% extends 'handMade/home.html' %}

{% block title %} My Cart {% endblock %}

{% block body %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">My Cart</h2>
    <hr>
            <h5>
                Full name: {{request.user}}
                <hr>
                Oredrs number : <span class="my-num"></span>, Total: <span class="my-num"></span>
                for <span class="my-num"></span> products
            </h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Product</th>
                            <th scope="col">Image</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Subtotals</th>
                            <th scope="col">Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in userCart %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{order.title}}</td>
                                <td><img src="{{order.imageLink}}" style="width: 80px; height: 80px;" alt="{{order.imageLink}}"></td>
                                <td>
                                    <i onclick="decrementValue(this,{{order.id}})" class="fa-solid fa-square-minus" ></i>
                                    <input type="text" name="quantity" value="{{order.quantity}}" maxlength="2" max="10" size="1" id="number" />                                    <!-- {{order.quantity}} -->
                                    <i onclick="incrementValue(this,{{order.id}})" class="fa-solid fa-square-plus" id="number"></i>
                                </td>
                                <td>{{order.price}}$</td>
                            </tr>
                        {% empty %}
                        <h3>No orders here, <a class="text-dark" href="{% url 'home' %}">All product</a> </h3>
                        {% endfor %}


                    </tbody>
                </table>

    <hr>
</div>
<button class="btn btn-primary"> Proceed to checkout</button>

{% endblock %}