<title>Favorites Page</title>

{% extends 'handMade/home.html' %}


{% block body %}

  <section class="section">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for card in user_favorites %}
        <div class="col"> 
          <div class="card h-100">
            <a href="{%url 'Product_details' id=card.id %}" class="opasity" >
              <div style="width: 100%;height: 300px;">
                <img src={{card.imageLink}} class="card-img-top "  alt="" style="width: 100%;height: 100%;object-fit: cover;">
              </div>
            </a>
            <div class="card-body Hcard">
              <table class="mytable w-100">
                <tbody class='w-100'>
                  <tr>
                    <td>{{card.title}}</td>
                    <td style="width:1%;">
                      {% if request.user in card.favorite.all %}
                      <form class="text-end">
                        <i  onclick="toggle(this,{{card.id}})" class="fa-solid fa-heart"></i>
                      </form>
                      {% else %}
                      <form  class="text-end">
                        <i  onclick="toggle(this, {{card.id}})" class="fa-regular fa-heart"></i>
                      </form>
                      {% endif %}
                  </td>
                </tr>
              </table>
            </div>
          </div>
      
        </div>
        {% empty %}
        <h2 style="margin-left: 33.333%;display: flex;justify-content: center;align-items: center;"> No product to view </h2>

    {% endfor %}
    
    </div>
  </section>
{% endblock %}


