<title>product details</title>

{% extends 'handMade/home.html' %}
{% load static %}

{% block body %}

<div class="container">
  <div class="box">
      <div class="images">
          <div class="img-holder active">
              <img src={{product.imageLink}} alt="...">
          </div>
      </div>
      <div class="basic-info">
          <h1>{{product.title}}</h1>
          <div class="rate">
              <i class="filled fas fa-star"></i>
              <i class="filled fas fa-star"></i>
              <i class="filled fas fa-star"></i>
              <i class="filled fas fa-star"></i>
              <i class="filled fas fa-star"></i>
          </div>
          <span>USD {{product.price}}</span>
          <div class="options">
            {% if request.user in product.cart %}            
            <form class="text-end">
                <i onclick="toggle1(this,{{product.id}})" class="fas fa-shopping-cart"></i>
            </form>
              {% else %}
            <form  class="text-end">
                <i onclick="toggle1(this, {{product.id}})" class="fas fa-shopping-cart"></i>
            </form>            
            {% endif %}
   
          </div>
      </div>
      <div class="description">
          <p>{{product.description}}</p>
          <ul class="social">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}

