<title> Register </title>

{% extends 'handMade/home.html' %}

{% block body %}

    
<section class="container forms">
    <div class="form signUp">
        <div class="form-content">
            <header>signUp</header>
            <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
                <div class="field input-field">
                    <input type="text" name="username" placeholder="user name" class="input"> 
                </div>
                <div class="field input-field">
                    <input type="email" name="email" placeholder="Email" class="input"> 
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field input-field">
                    <input type="password" name="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field input-field">
                    <input type="password" name="confirmation" placeholder="confirm password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div> 
                <div class="field button-field">
                    <button>Sign Up</button>
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account?  <a href="{% url 'login' %}" class="link signup-link">Login</a></span>
            </div>
        </div>
    </div>
</section>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


{% endblock %}